/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Orbitron:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    /* background-color: #022B3F; */
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background: url("../images/thor_loki_hulk.jpg") no-repeat center center fixed;
    background-size: cover;
}


/* HEADER*/
header {
    background-color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    color: #022B3F;
    text-align: center;
    padding: 20px;
}

/* Register: Player enters a name and click on START */
.register {
    background-color: #022B3F;
    /* background-color: rgba(2, 43, 63, 0.8); */
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    margin: 20px auto;
    padding: 1.5em;
}

.register>h2 {
    margin: 20px 0;
    font-family: 'Orbitron', sans-serif;
}

.input {
    max-width: 300px;
    display: inline-block;
}

label,
input {
    display: flex;
    flex-direction: column;
}

#coolname {
    width: 200px;
    height: 25px;
    margin-top: 20px;
    padding: 5px;
    color: #022B3F;
}

#button {
    background-color: #324960;
    color: #fafafa;
    width: 75px;
    height: 35px;
    border: #fafafa 1px solid;
    border-radius: 8px;
    padding-top: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    display: inline-block;
}

#button:hover {
    color: #022B3F;
    background-color: #FF4500;
}

/* This div (Rules & Controls) is hidden until the start button is clicked */
#game {
    display: none;
    background-color: #022B3F;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 80%;
    margin: 2em auto;
    padding: 1.5em;
}

#rules_h3 {
    line-height: 2em;
}

#game > p {
    line-height: 1.5em;
}

/* Section 1 - Buttons: Styling the 3 buttons inside the Controls div */
#controls {
    margin-top: 2.5em;
}

.select {
    display: inline-block;
    border: 2px solid #20b2aa;
    border-radius: 50%;
    line-height: 0;
    margin: 10px;
    transition: all 0.3s ease;
}

.select:hover {
    background-color: #FF4500;
    cursor: pointer;
}

img {
    border-radius: 50%;
    padding: 10px;
}

/* Section 2: Choice of weapon */
h3 {
    margin-top: 1em;
    color: #FFFFFF;
}

/* Section 3: The result of the fight */
#result {
    font-size: 2em;
    font-weight: 800;
    color: #FF4500;
    margin-top: 1.5em;
}


/* Section 4: The score board */
.score_board {
    border: 3px solid #FFFFFF;
    width: 200px;
    margin: 30px auto;
    font-size: 2em;
    color: #FF4500;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background-color: #022B3F;
    padding: 2px 10px;
    font-size: 0.5em;
    color: #FFFFFF;
}

#you {
    position: absolute;
    top: 25px;
    left: -25px;
}

#ram {
    position: absolute;
    top: 25px;
    right: -35px;
}

/* FOOTER */
footer {
    height: 75px;
    color: #FFFFFF;
    font-size: 0.6em;
    margin-bottom: 20px;
}


/* MEDIA-QUERIES */

@media(min-width: 576px) {

    #game,
    .register {
        width: 75%;
    }
}

@media (min-width: 768px) {

    #game,
    .register {
        width: 65%;
    }
}

@media (min-width: 992px) {

    #game,
    .register {
        width: 55%;
    }
}

@media (min-width: 1480px) {

    #game,
    .register {
        width: 40%;
    }
}